html, button, input, select, textarea { color: #fff; overflow-x:hidden; }
body { font-size: 1em; line-height: 1.2em; background-color: #2a4e7c; margin:0px; padding:0px; }
* {
    outline:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a { text-decoration: none; color:#5180bb;}
img { vertical-align: middle; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

#gradBG { position: fixed; top:0px; left:0px; height:100%; width:100%;
background: #00a3e4;
background: -moz-radial-gradient(center, ellipse cover,  #00a3e4 0%, #2a618d 73%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#00a3e4), color-stop(73%,#2a618d));
background: -webkit-radial-gradient(center, ellipse cover,  #00a3e4 0%,#2a618d 73%);
background: -o-radial-gradient(center, ellipse cover,  #00a3e4 0%,#2a618d 73%);
background: -ms-radial-gradient(center, ellipse cover,  #00a3e4 0%,#2a618d 73%);
background: radial-gradient(ellipse at center,  #00a3e4 0%,#2a618d 73%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3e4', endColorstr='#2a618d',GradientType=1 );

}

/* HEADLINES */
h1 { font-family: "proxima-nova-alt",sans-serif; font-style: normal; font-weight: 600; font-size: 70px; color:#FFF; margin:70px 0 0 0; padding: 0px; text-transform: uppercase; letter-spacing: 2px; line-height: 45px; text-align:center; text-shadow: 2px 2px 1px #000;}

/* FONTS */
p { padding: 0px; margin:0px;}
.proxima-nova-alt-thin-11 {
    font-family: "proxima-nova-alt",sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 1.8px;
    color:#ddd;
    margin:0px;
    padding:0px;
}
.proxima-nova-alt-reg-22 {
    font-family: "proxima-nova-alt",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height:22px;
    color:#fff;
}

.proxima-nova-alt-reg-16 {
    font-family: "proxima-nova-alt",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height:18px;
    color:#fff;
}

.proxima-nova-alt-bold-20 {
    font-family: "proxima-nova-alt",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height:23px;
    color:#fff;
}
.addy { position:absolute; width:598px; left:50%; margin-left:-299px; white-space: pre; cursor: default; }

/* TOP NAV BAR */
nav {width: 100%; height:50px; background:#fff; position:relative; z-index:10;}
ul#nav-icon-list {list-style:none; width:1024px; margin:0px auto 0 auto; padding:9px 0 0 0; height:41px;}
li.nav-icon { list-style:none; float:right; display:inline-block; padding:7px 0 0 50px; color: #488ee7; text-shadow: 0px 0px 0px #2a4e7c; letter-spacing: 1.5px;}
li.nav-icon:hover {color: #2a4e7c; text-shadow: 0px 0px 0px #2a4e7c; cursor:pointer;}
#nav-crp-logo { float:left; height:26px; margin:0px; padding:4px 0 0 0; }

/* PAGES */
#content-wrapper { }

section {clear:left; float:left; position: relative;}

section#page-1 { z-index:1; width:100%; height:700px; }

#page-1-wrapper {
    width:1024px;
    height:413px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-512px;
    margin-top:-230px;
}

#crp-logo { padding: 0; margin: 0; width: 675px; margin:0 0 0 165px; }

#page-1-block {height:190px; width:100%; margin-top:90px;}

.theatrical-box, .homeEnt-box, .gaming-box {
    cursor:pointer;
    display:inline-block;
    white-space: nowrap;
    margin-right:10px;
    height:220px;
    width:317px;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow:0px 2px 7px #000;
}

.theatrical-box { border:7px solid #1c4c81; border-bottom:0px; }
.homeEnt-box { border: 7px solid #184f55; border-bottom:0px;}
.gaming-box { border: 7px solid #3b3e7c; border-bottom:0px; }
.gradient-strip {
    height:30px;
    width:325px;
    border:0px;
    margin:0px;
    padding:0px;
    position: relative;
    margin-top:180px;
    font-size:16px;
    text-align:center;
    color:#7597b3;
    padding-top:10px;
    letter-spacing: 3px;
    font-style: italic;
}

.theatrical {
    background: #1c4c81; /* Old browsers */
    background: -moz-linear-gradient(left, #1c4c81 0%, #256cbd 49%, #1c4c81 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1c4c81), color-stop(49%,#256cbd), color-stop(100%,#1c4c81)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #1c4c81 0%,#256cbd 49%,#1c4c81 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #1c4c81 0%,#256cbd 49%,#1c4c81 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #1c4c81 0%,#256cbd 49%,#1c4c81 100%); /* IE10+ */
    background: linear-gradient(to right, #1c4c81 0%,#256cbd 49%,#1c4c81 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c4c81', endColorstr='#1c4c81',GradientType=1 ); /* IE6-9 */
}

.homeEnt {
    background: #1c4c81; /* Old browsers */
    background: -moz-linear-gradient(left, #184f55 0%, #136f6b 49%, #184f55 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#184f55), color-stop(49%,#136f6b), color-stop(100%,#184f55)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #184f55 0%,#136f6b 49%,#184f55 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #184f55 0%,#136f6b 49%,#184f55 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #184f55 0%,#136f6b 49%,#184f55 100%); /* IE10+ */
    background: linear-gradient(to right, #184f55 0%,#136f6b 49%,#184f55 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c4c81', endColorstr='#1c4c81',GradientType=1 ); /* IE6-9 */
}

.gaming {
    background: #3b3e7c; /* Old browsers */
    background: -moz-linear-gradient(left, #3b3e7c 0%, #5f489e 49%, #3b3e7c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3b3e7c), color-stop(49%,#5f489e), color-stop(100%,#3b3e7c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #3b3e7c 0%,#5f489e 49%,#3b3e7c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #3b3e7c 0%,#5f489e 49%,#3b3e7c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #3b3e7c 0%,#5f489e 49%,#3b3e7c 100%); /* IE10+ */
    background: linear-gradient(to right, #3b3e7c 0%,#5f489e 49%,#3b3e7c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3e7c', endColorstr='#3b3e7c',GradientType=1 ); /* IE6-9 */
}

section#portfolio { z-index:0; width:100%; height:100%;}
#projectList { width:1024px; margin:40px auto;}
/* BACK BONE CLASS */
.project-wrap {
    height:220px;
    width:318px;
    float:left;
    margin:15px 28px 15px 0;
}
.project-wrap:nth-child(3n+3) {margin-right:0px;}


/* contact page */
section#about-us { height:550px; width:100%; overflow:hidden; }
h2 {
    font-family: "proxima-nova-alt",sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: 8px;
    color:#444;
    height:35px;
    padding-top:20px;
    text-align: center;
    width:100%;
    background-color: #fff;
    position:relative;
    z-index:5; 
    color:#7597b3;
}

footer {position:relative; height:100%; width:1024px; margin: 0 auto; }
footer > img { margin-right:30px; float:left; border:2px solid #fff;}
.about-us-text {clear:right; float:right; width:495px; color:#ddd; padding:0px; margin:0px; letter-spacing: 1.8px;}
#contact-icons { width:443px; height:100px; margin:0 auto 0 auto; clear:both; padding-top:45px;}
.contact-png {
    height:65px;
    width:65px;
    margin:10px 10px;
    position:relative;
    display:inline-block;
    background-repeat: no-repeat;
    background-position:center top;
}

.contact-png:hover { background-position: center -65px; }

@media screen and (max-width: 1024px) {
    body {display:none;}
}