html, button, input, select, textarea { color: #fff; overflow-x:hidden; }
body { font-size: 1em; line-height: 1.2em; background-color: #2a4e7c; margin:0px; padding:0px; }
* {
    outline:none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a { text-decoration: none; color:#5180bb;}
img { vertical-align: middle; outline:none; border:0px; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

#gradBG { position: fixed; top:0px; left:0px; height:100%; width:100%;
background: #00a3e4;
background: -moz-radial-gradient(center, ellipse cover,  #00a3e4 0%, #2a618d 73%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#00a3e4), color-stop(73%,#2a618d));
background: -webkit-radial-gradient(center, ellipse cover,  #00a3e4 0%,#2a618d 73%);
background: -o-radial-gradient(center, ellipse cover,  #00a3e4 0%,#2a618d 73%);
background: -ms-radial-gradient(center, ellipse cover,  #00a3e4 0%,#2a618d 73%);
background: radial-gradient(ellipse at center,  #00a3e4 0%,#2a618d 73%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a3e4', endColorstr='#2a618d',GradientType=1 );

}

/* HEADLINES */
h1 { font-family: "proxima-nova-alt",sans-serif; font-style: normal; font-weight: 600; font-size: 70px; color:#FFF; margin:70px 0 0 0; padding: 0px; text-transform: uppercase; letter-spacing: 2px; line-height: 45px; text-align:center; text-shadow: 2px 2px 1px #000;}

/* FONTS */
p { padding: 0px; margin:0px;}
.proxima-nova-alt-thin-11 {
    font-family: "proxima-nova-alt",sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 11px;
    letter-spacing: 2px;
    color:#ddd;
    margin:0px;
    padding:0px;
}
.proxima-nova-alt-reg-22 {
    font-family: "proxima-nova-alt",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height:22px;
    color:#fff;
}

.proxima-nova-alt-reg-16 {
    font-family: "proxima-nova-alt",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height:18px;
    color:#fff;
}

.proxima-nova-alt-bold-20 {
    font-family: "proxima-nova-alt",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height:23px;
    color:#fff;
}
.addy { position:absolute; width:710px; left:50%; margin-left:-355px; white-space: pre; cursor: default; }
.mailLink { color:#ddd;}

section {clear:left; float:left; position: relative;}

/* TOP NAV BAR */
nav {clear:left; float:left; width: 100%; height:50px; background:#fff; position:relative; z-index:100;}
ul#nav-icon-list {list-style:none; width:1024px; margin:0px auto 0 auto; padding:9px 0 0 0; height:41px;}
li.nav-icon { 
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        line-height:22px;
        color:#fff;
        list-style:none;
        float:right;
        display:inline-block;
        padding:6px 0 0 0px;
        margin-left:50px;
        color: #488ee7;
        letter-spacing: 1.5px;
}
li.nav-icon:hover {color: #2a4e7c; cursor:pointer;}
#nav-crp-logo { float:left; height:26px; margin:0px; padding:9px 0 0 0; }

/* PAGES */
#content-wrapper { }



section#page-1 { z-index:1; width:100%; height:700px; }

#page-1-wrapper {
    width:1024px;
    height:413px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-512px;
    margin-top:-230px;
}

#crp-logo { padding: 0; margin: 0; width: 675px; margin:0 0 0 165px; }

#page-1-block {height:190px; width:100%; margin-top:90px;}

.theatrical-box, .homeEnt-box, .gaming-box {
    cursor:pointer;
    display:inline-block;
    white-space: nowrap;
    margin-right:10px;
    height:220px;
    width:317px;
    box-shadow:0px 2px 7px #000;
    position: relative;
    z-index:10;
}

.theatrical-box { border: 7px solid #1c4c81; border-bottom:0px; }
.homeEnt-box { border: 7px solid #184f55; border-bottom:0px;}
.gaming-box { border: 7px solid #3b3e7c; border-bottom:0px; }

.front-page-shift { height:15px !important; margin-top:192px !important; }

.project-img {
    height:220px;
    width:317px;
    border:0px;
    position:absolute;
    z-index:0;
    margin-top:-220px;
}

.theatrical-box:hover > .theatrical, .homeEnt-box:hover > .homeEnt, .gaming-box:hover > .gaming { 
    color:#ddd;
}

.gradient-strip {
    height:30px;
    width:325px;
    border:0px;
    margin:0px;
    padding:0px;
    position: relative;
    margin-top:177px;
    font-size:16px;
    text-align:center;
    color:#7597b3;
    padding-top:13px;
    letter-spacing: 3px;
    font-style: italic;
    z-index: 40;
}

.theatrical {
    background: #1c4c81; /* Old browsers */
    background: -moz-linear-gradient(left, #1c4c81 0%, #256cbd 49%, #1c4c81 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1c4c81), color-stop(49%,#256cbd), color-stop(100%,#1c4c81)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #1c4c81 0%,#256cbd 49%,#1c4c81 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #1c4c81 0%,#256cbd 49%,#1c4c81 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #1c4c81 0%,#256cbd 49%,#1c4c81 100%); /* IE10+ */
    background: linear-gradient(to right, #1c4c81 0%,#256cbd 49%,#1c4c81 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c4c81', endColorstr='#1c4c81',GradientType=1 ); /* IE6-9 */
}

.homeEnt {
    background: #1c4c81; /* Old browsers */
    background: -moz-linear-gradient(left, #184f55 0%, #136f6b 49%, #184f55 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#184f55), color-stop(49%,#136f6b), color-stop(100%,#184f55)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #184f55 0%,#136f6b 49%,#184f55 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #184f55 0%,#136f6b 49%,#184f55 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #184f55 0%,#136f6b 49%,#184f55 100%); /* IE10+ */
    background: linear-gradient(to right, #184f55 0%,#136f6b 49%,#184f55 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c4c81', endColorstr='#1c4c81',GradientType=1 ); /* IE6-9 */
}

.gaming {
    background: #3b3e7c; /* Old browsers */
    background: -moz-linear-gradient(left, #3b3e7c 0%, #5f489e 49%, #3b3e7c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3b3e7c), color-stop(49%,#5f489e), color-stop(100%,#3b3e7c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #3b3e7c 0%,#5f489e 49%,#3b3e7c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #3b3e7c 0%,#5f489e 49%,#3b3e7c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #3b3e7c 0%,#5f489e 49%,#3b3e7c 100%); /* IE10+ */
    background: linear-gradient(to right, #3b3e7c 0%,#5f489e 49%,#3b3e7c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3e7c', endColorstr='#3b3e7c',GradientType=1 ); /* IE6-9 */
}

section#portfolio { z-index:0; width:100%; height:100%; padding-bottom:50px; margin:0;}
#projectList { width:1024px; margin-top:90px; margin-left: auto; margin-right:auto;}
/* BACK BONE CLASS */
.project-wrap {
    height:220px;
    width:318px;
    float:left;
    margin:15px 28px 15px 0;
}
.project-wrap:nth-child(3n+3) {margin-right:0px;}


/* contact page */
section#about-us { z-index:0; height:100%; width:100%; }

#about-img-one { margin-left:8px;}
#about-img-three { margin-right:0px !important; }

#about-us-wrap {width:1024px; height:370px; position:relative; margin-left: auto; margin-right:auto; top: 50%; margin-top:-230px;}
#about-us-wrap > img { margin-right:11px; float:left; border:4px solid #c1c1c1;}
.about-us-text {
    clear:both;
    text-align:center;
    width:900px;
    color:#ddd;
    padding-top:30px;
    margin-left:52px;
    letter-spacing: 2px;
    line-height: 18px;
    font-family: "proxima-nova-alt",sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 15px;

}
.about-us-bold-text {
    font-family: "proxima-nova-alt",sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height:22px;
    color:#eee;
    letter-spacing: 2.5px;
}

footer { position:absolute; height:100px; width:1024px;left:50%; margin-left:-512px; bottom:25px; }
#contact-icons { width:443px; height:95px; margin:0 auto 0 auto; clear:both; }
.contact-png {
    height:65px;
    width:65px;
    margin:10px 10px;
    position:relative;
    display:inline-block;
    background-repeat: no-repeat;
    background-position:center top;
}

.contact-png:hover { background-position: center -65px; }

/* MODEL WINDOW */

#model-mask {
    height:100%;
    width:100%;
    position:fixed;
    top:0; left:0;
    background-color: #000;
    opacity:.8;
    z-index:100;
}

.model-frame {
    height:540px;
    width:1000px;
    position:fixed;
    top:50%; left:50%;
    margin-top:-275px;
    margin-left:-500px;
    background-color:#fff;
    border:5px solid #999;
    z-index:102;
}

.close-button {
    position:absolute;
    top:0px; right:0px;
    height:38px;
    width: 37px;
    margin-top:-18px;
    margin-right:-18px;
    background-image: url('../images/close-button.png');
    background-position: top center;
    background-repeat: no-repeat;
    z-index:110;
}

.close-button:hover {
    background-position: center -38px;
}

.model-gradient {
    height:35px;
    width:1000px;
    border:0px;
    margin:0px;
    padding:0px;
    position: relative;
    top:0px;
    padding-top:15px;
    font-size:24px;
    text-align:center;
    color:#ddd;
    letter-spacing: 7px;
    font-style: italic;
    z-index: 103;
}

.fullArt {
    height: 390px;
    width: 889px;
    float:left;
}

.model-left-arrow, .model-right-arrow {
    cursor:pointer;
    height:36px;
    width:24px;
    background-image: url('../images/page-arrows.png');
    background-repeat: no-repeat;
    background-position: left top;
    margin-top:250px;
    float:left;
    margin-left:30px;
}

.model-right-arrow {
    background-position: right top;   
    margin-left:0px;
}

.model-left-arrow:hover {
    background-position: left bottom;
}

.model-right-arrow:hover {
    background-position: right bottom;
}

.model-text-block {
    clear:both;
    width: 820px;
    height: 100px;
    margin: 5px auto 0px auto;
}

.model-text {
    font-family: "proxima-nova-alt",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height:13px;
    letter-spacing: 1.8px;
    color:#333;
    margin:0px;
    padding:0 0 1px 0;
}

.bolded {
    font-weight:600;
}

.fullArt > video {
    margin:20px 0 0 133px;
    height:350px;
    width:622px;
}

/* END MODEL WINDOW */


/* !!!!!!!!!!!!!!!!!!!!!!!!! MEDIA QUERIES !!!!!!!!!!!!!!!!!!!! */

@media screen and (max-width: 1025px) { /* iPAD */
    #page-1-wrapper {
        width:720px;
        height:300px;
        position:absolute;
        left:50%; top:50%;
        margin-left:-360px;
        margin-top: -150px;
    }

    #crp-logo {
        padding: 0;
        margin: 0;
        width: 500px;
        margin: 0 0px 0 90px;
    }
    #page-1-block {height:190px; width:100%; margin-top:40px;}

    .theatrical-box, .homeEnt-box, .gaming-box {
        cursor:pointer;
        display:inline-block;
        white-space: nowrap;
        margin-right:8px;
        height:153px;
        width:220px;
        box-shadow:0px 2px 7px #000;
        position: relative;
        z-index:10;
    }

    .theatrical-box { border: 5px solid #1c4c81; border-bottom:0px; }
    .homeEnt-box { border: 5px solid #184f55; border-bottom:0px;}
    .gaming-box { border: 5px solid #3b3e7c; border-bottom:0px; }

    .project-img {
        height:153px;
        width:220px;
        border:0px;
        position:absolute;
        z-index:0;
        margin-top:-154px;
    }

    .gradient-strip {
        height:23px;
        width:220px;
        border:0px;
        margin:0px;
        padding:0px;
        position: relative;
        margin-top:125px;
        font-size:16px;
        text-align:center;
        color:#7597b3;
        padding-top:5px;
        letter-spacing: 3px;
        font-style: italic;
        z-index: 40;
    }
    .front-page-shift { height:10px !important; margin-top:138px !important; }

    nav {position:fixed !important; top:0px !important; margin:0px !important;}
    ul#nav-icon-list {
        list-style:none;
        width:100%;
        margin:0px auto 0 auto;
        padding:9px 0px 0 0px;
        height:41px;
    }
    li.nav-icon { font-family: "proxima-nova-alt",sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height:26px;
        color:#fff;
        list-style:none;
        float:right;
        display:inline-block;
        padding:7px 0 0 0px;
        margin-left:50px;
        margin-right:30px;
        margin-top:-3px;
        color: #488ee7;
        letter-spacing: 1.5px;
    }
    
    section#portfolio { z-index:0; width:100%; height:100%; padding-bottom:50px; margin:0;}
    
    #projectList { width:720px; height:100%; margin-top:90px !important; margin-left: auto; margin-right:auto;}
    /* BACK BONE CLASS */
    .project-wrap {
        height:153px;
        width:220px;
        float:left;
        margin:0px 28px 25px 0;
    }

    
    #nav-crp-logo { margin-left:30px;}

    section#about-us { z-index:0; height:1024px; width:100%; }
    
    #about-us-wrap {
        width:800px;
        height:500px;
    }

    #about-img-one, #about-img-two, #about-img-three { width:220px; height:137px; display:inline-block;}

    #about-img-one:first-child { margin-left:40px;}

    .about-us-text {
        clear:both;
        text-align:center;
        width:800px;
        padding-top:30px;
        margin: 0 auto;
    }

 
    footer { position:absolute; height:100px; width:1024px; bottom:40px; }

    .model-frame {
        height:432px;
        width:800px;
        margin-top:-216px;
        margin-left:-400px;
        border:4px solid #999;
    }

    .model-gradient {
        height:28px;
        width:800px;
        padding-top:10px;
        font-size:23px;
        letter-spacing: 6px;
    }

    .fullArt {
        height: 307px;
        width: 700px;
    }

    .model-left-arrow, .model-right-arrow {
        margin-top:200px;
        margin-left:30px;
    }

    .model-right-arrow {
        background-position: right top;   
        margin-left:0px;
    }

    .model-text-block {
        width: 600px;
        height: 85px;
        margin: 10px auto 0px auto;
    }

    .fullArt > video {
        margin:7px 0 0 90px;
        height:290px;
        width:515px;
    }

}










