<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <title>The CRP Group | Entertainment Design in Burbank, CA</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1">
    <meta name = "format-detection" content = "telephone=no" />

    <link rel="stylesheet" href="css/normalize.min.css">
    <link rel="stylesheet" href="css/main.css">

    <style type="text/css">
        /* Hide the fonts while loading */
        .wf-loading * { visibility: hidden; }
    </style>

    <script src="js/vendor/modernizr-2.6.2.min.js"></script>

</head>
<body>
<!--[if lt IE 8]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

  <div id="gradBG"></div>

  <div id="content-wrapper" style="display:none">

      <section id="page-1" class="scrolling-element-class">
        <div id="page-1-wrapper">
          <img src="images/crp-logo.svg" id="crp-logo" alt="CRP Logo" >
          <div id="page-1-block">
              <div id="page-1-theatrical" class="theatrical-box">
                <div class="gradient-strip theatrical front-page-shift"></div>
                <img src="" class="project-img" alt="Theatrical">
              </div>
              <div id="page-1-homeEnt" class="homeEnt-box">
                <div class="gradient-strip homeEnt front-page-shift"></div> 
                <img src="" class="project-img" alt="Home Entertainment">
              </div>
              <div id="page-1-gaming" class="gaming-box" style="margin-right:0px">
                <div class="gradient-strip gaming front-page-shift"></div>  
                <img src="" class="project-img" alt="Interactive Gaming">
              </div>
          </div>
        </div>
        <p class="proxima-nova-alt-thin-11 addy" style="bottom:20px;"> 2301 West Olive Avenue, Suite B    |    Burbank, CA 91506    |    323-467-2772    |    <a class="mailLink" href="mailto:info@thecrpgroup.com">info@thecrpgroup.com</a></p>
        
        <p class="proxima-nova-alt-thin-11 mobile-addy" style="bottom:15px;"> 2301 West Olive Avenue, Suite B<br />
           Burbank, CA 91506<br />
           323-467-2772<br />
           <a class="mailLink" href="mailto:info@thecrpgroup.com">info@thecrpgroup.com</a>
        </p>

      </section>

      <nav class="scrolling-element-class"> 
        <ul id="nav-icon-list">
          <li><img src="images/crp-logo-blue.svg" id="nav-crp-logo" class="nav-icon" rel="#page-1" alt="CRP Logo"></li>
          <li class="nav-icon" id="about-link" rel="#about-us">ABOUT</li>
          <li class="nav-icon" id="port-link" rel="#portfolio">PORTFOLIO</li>
        </ul>
      </nav>

      <section id="portfolio" class="scrolling-element-class">
        <div id="projectList"></div>
      </section>

    <section id="about-us">

       <div id="about-us-wrap">
          <img id="about-img-one" src="">
          <img id="about-img-two" src="">
          <img id="about-img-three" src="">
          <p class="about-us-text">On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem.</p>
          <p class="about-us-bold-text" style="padding-top:20px;">Je de mise en page ou éditeurs de sites Web ont fait du Lorem.</p> 
       </div>
       <footer>
          <div id="contact-icons">
            <a id="mail-icon" class="contact-png" href="mailto:info@thecrpgroup.com"></a>
            <a id="in-icon" class="contact-png" href="http://www.linkedin.com/company/the-crp-group"></a>
            <a id="vim-icon" class="contact-png" href="http://vimeo.com/thecrpgroup"></a>
            <a id="tw-icon" class="contact-png" href="http://www.twitter.com/thecrpgroup"></a>
            <a id="fb-icon" class="contact-png" href="https://www.facebook.com/thecrpgroup"></a>
          </div> 
        <p class="proxima-nova-alt-thin-11 addy"> 2301 West Olive Avenue, Suite B    |    Burbank, CA 91506    |    323-467-2772    |    <a class="mailLink" href="mailto:info@thecrpgroup.com">info@thecrpgroup.com</a></p>
        <p class="proxima-nova-alt-thin-11 mobile-addy" style="margin-top:10px;">2301 West Olive Avenue, Suite B<br />
           Burbank, CA 91506<br />
           323-467-2772<br />
           <a class="mailLink" href="mailto:info@thecrpgroup.com">info@thecrpgroup.com</a>
        </p>
     
      </footer>

    </section>

  </div> <!-- end wrapper -->

  <aside id="modelList"></aside>
  <div id="model-mask" style="display:none"></div>

<!-- TEMPLATE FOR UNDERSCORE / BACKBONE -->
    <script id="projectTemplate" type="text/template">
      <div class="<%= projectCode %>-box" rel="<%= id %>">
          <div class="gradient-strip <%= projectCode %>" ><%= projectType %></div>
          <img src=<%= mainImg %> alt="<%= title &>" class="project-img">
      </div>
    </script>

    <script id="projectModel" type="text/template">
      <div class="model-frame" rel="<%= id %>" style="display:none">
        <div class="model-gradient <%= projectCode %>"><%= projectType %></div>
        <div class="close-button"></div>

        <a class="model-left-arrow"></a>
        <img class="fullArt" src="<%= fullImg %>" alt ="<%= title %>" />
        <a class="model-right-arrow"></a>

        <div class="model-text-block">
            <p class="model-text"><span class="bolded"><%= title %> </span></p>
            <p class="model-text"><span class="bolded">Client: </span> <%= client %></p>
            <p class="model-text" style="padding-bottom:10px;"><%= scope %></p>
            <p class="model-text"><%= description %></p>
        </div>

      </div>
    </script>

    <script id="videoProjectModel" type="text/template">
      <div class="model-frame" rel="<%= id %>" style="display:none">
        <div class="model-gradient <%= projectCode %>"><%= projectType %></div>
        <div class="close-button"></div>

        <a class="model-left-arrow"></a>
        <img class="fullArt poster" src='images/gallery-vid/mgrr-full.jpg' alt="<%= title %>" />
        <div class="fullArt video" style="display:none">
          <div class="videoClicker"></div>
          <video controls>
            <source src="<%= fullImg %>.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            <source src="<%= fullImg %>.webm" type='video/webm; codecs="vp8, vorbis"' />
            <source src="<%= fullImg %>.ogv" type='video/ogg; codecs="theora, vorbis"' />
          </video>
        </div>
        <a class="model-right-arrow"></a>

        <div class="model-text-block">
            <p class="model-text"><span class="bolded"><%= title %> </span></p>
            <p class="model-text"><span class="bolded">Client: </span> <%= client %></p>
            <p class="model-text" style="padding-bottom:10px;"><%= scope %></p>
            <p class="model-text"><%= description %></p>
        </div>

      </div>
   </script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/vendor/underscore.js"></script>
  <script src="js/vendor/backbone.js"></script>
  <script src="js/main.js"></script>

  <!-- serve fonts last, since it takes a god awful amount of time --> 
  <script type="text/javascript" src="//use.typekit.net/pef6tbk.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</body>
</html>